---
name: helm
on:
  - push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: set up helm
        uses: azure/setup-helm@v4

      - uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: set up chart-testing
        uses: helm/chart-testing-action@v2.8.0

      - name: run chart-testing (lint)
        run: ct lint --all

  release:
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: set up helm
        uses: azure/setup-helm@v4

      - name: login to github container registry using helm
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | helm registry login ghcr.io/1995parham/saf --username ${{ github.repository_owner }} --password-stdin

      - name: package saf helm chart
        run: |
          version=${{ github.ref_name }}
          helm package --version "${version##v}" --app-version "${version}" ./charts/saf-consumer
          helm package --version "${version##v}" --app-version "${version}" ./charts/saf-producer

      - name: publish saf charts to github container registry
        run: |
          version=${{ github.ref_name }}
          helm push "saf-consumer-${version##v}".tgz oci://ghcr.io/1995parham/saf-charts
          helm push "saf-producer-${version##v}".tgz oci://ghcr.io/1995parham/saf-charts
